<div class="flex p-5" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
  </ol>
</div>
<div class="flex justify-center">
  <div class="p-4 w-3/5 bg-white rounded-lg border border-gray-200 shadow-md sm:p-6 lg:p-8">
    <h5 class="text-xl font-bold leading-none text-gray-900">Edit the standup:</h5>
     <%= render 'form' %>
  </div>
</div>