<div class="flex p-5" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <h2 href="#" class="inline-flex items-center font-medium text-gray-700 hover:text-gray-900">
        Teams
      </h2>
    </li>
    <li class="inline-flex items-center">
      <h2 href="#" class="inline-flex items-center font-medium text-gray-700 hover:text-gray-900">
        <svg class="w-6 h-6 text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
        <%= @team.name %>
      </h2>
    </li>
  </ol>
</div>

<%= render partial: 'layouts/components/date_change' %>

<div class="flex justify-center">
  <div class="p-4 w-4/5 sm:p-6 lg:p-8">
    <div class="grid grid-cols-3 auto-cols-auto gap-4">
      <% if @standups.empty? %>
        <div class="row">
          <div class="col">
            <p>No standups are available to display</p>
          </div>
        </div>
      <% end %>
      <%= render partial: 'standups/standup', collection: @standups %>
    </div>
  </div>
</div>