<div class="flex p-5" aria-label="Breadcrumb">
  <ol class="inline-flex items-center space-x-1 md:space-x-3">
    <li class="inline-flex items-center">
      <h2 href="#" class="inline-flex items-center font-medium text-gray-700 hover:text-gray-900">
        My Activity
      </h2>
    </li>
  </ol>
</div>

<div class="flex justify-center">
  <div class="p-4">
    <%= turbo_stream_from current_user, "standups" %>
      <div class="grid grid-cols-3 auto-cols-auto gap-4" id="<%= dom_id(current_user, 'standups') %>">
        <%= render @standups, user: current_user %>
      </div>
  </div>
</div>
